* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
    display: flex;
    flex-direction: ;
    
    align-items: center;
   
}
.header {
  color: #f9faf8;
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 350px;
  padding-right: 350px;
  
  padding-top: 16px;
  
  
}
.hero {
  font-size: 24px;
}
a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}
.head {
  height: 450px;
  color: #f9faf8;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 350px;
  padding-right: 350px;
  
  
  
}
.head-text {
  max-width: 350px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img {
  max-width: 400px;
  max-height: 250px;
}